*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

}
.title{
	color: maroon;
}
.strong{
	font-weight: 600;
}
.wrapper {
	width: 1300px;
	margin: 0 auto;

}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top:1px solid lightgray ;
	text-align: center;
	background: #fff;
}
footer a{

	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 0;
	text-decoration: none;
	color: maroon;
}
footer a:hover{
	color: #fff;
	background: darkgray;
	text-decoration: underline;;
}

h2 {
	padding: 20px;
	text-align: center;
}
.carousel-box{
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.carousel-hider {
	width: 950px;
	overflow: hidden;
	margin: 0 auto;
	display: inline-block;
	/*border:1px solid;*/

}
.carousel-list {
	list-style: none;
	width: 10000px;
	height: 200px;
	padding: 0;
	/*position: relative;*/

}
.carousel-element {
	/*display: inline-block;*/
	float: left;
	position: relative;
	height: 200px;
	padding: 0;
	margin: 0;
	margin-right: 25px;
}
.carousel-element img {
	max-width: 300px;
	min-height: 200px;
}
.crousel-arrow-left,
.crousel-arrow-right {
 display: inline-block;
 width: 25px;
 height: 25px;
 background: url(http://i.imgur.com/m3rUIFh.png) no-repeat;
}
.crousel-arrow-left:hover,
.crousel-arrow-right:hover {
 cursor: pointer;
 background-position: 0 -26px;
}
.crousel-arrow-left {
 transform: rotate(180deg)
}
.crousel-arrow-left {
 margin-right: 25px;
 margin-bottom: 65px;
}
.crousel-arrow-right {
 margin-left: 25px;
 margin-bottom: 65px;
}
.carousel-element > p{
 position: absolute;
 display: block;
 bottom: 10px;
 right: 10px;
 color: #FFF;
 text-shadow: 1px 1px 2px black, 0 0 1em black;
 font-size: 12px;
}


#ejohn-box{
	margin: 0 auto;
	background: lightgray;
	width: inherit;
	margin-bottom: 50px;
	padding: 40px;
	border: 1px solid darkgray;
}

#ejohn-box p {
	margin-bottom: 20px;
}

#ejohn-box .main {
	width: 700px;
	background-color: #fff;
	margin: auto;
	padding: 30px 0;
}

#ejohn-box .fio {
	text-align: center;

}

#ejohn-box.ksu {
	font-size: 3em;
}



#ejohn-box img {
	width: 200px;

	-webkit-border-radius: 10px;
	        border-radius: 10px;
	}

#ejohn-box .under_img {
	padding: 25px;
}

#ejohn-box .line {
	border-top: 1px solid #aaa;
	margin: 20px 27%;
}
#ejohn-box .feedback,
#ejohn-box .contacts,
#ejohn-box .my_wishes,
#ejohn-box .soc        {
	margin-left: 31%;
}
#ejohn-box .contacts, .soc {
	margin-bottom: 20px;
}
#ejohn-box .feedback {
	padding: 20px 0;
}
/*====================*/
#lodash-box{
	margin: 0 auto;
	background: rgba(224, 224, 224,.4);;
	width: inherit;
	margin-bottom: 50px;
	padding: 40px;
	border: 1px solid lightgray;
}

#lodash-box p {
	margin-bottom: 20px;
}

#lodash-box .main {
	width: 700px;
	background-color: #fff;
	margin: auto;
	padding: 30px 0;
}

#lodash-box .fio {
	text-align: center;

}

#lodash-box.ksu {
	font-size: 3em;
}



#lodash-box img {
	width: 200px;

	-webkit-border-radius: 10px;
	        border-radius: 10px;
	}

#lodash-box .under_img {
	padding: 25px;
}

#lodash-box .line {
	border-top: 1px solid #aaa;
	margin: 20px 27%;
}
#lodash-box .feedback,
#lodash-box .contacts,
#lodash-box .my_wishes,
#lodash-box .soc        {
	margin-left: 31%;
}
#lodash-box .contacts, .soc {
	margin-bottom: 20px;
}
#lodash-box .feedback {
	padding: 20px 0;
}
